.button {
background-color: var(--blue);
color: white;
display: block;
align-items: center;
margin: 15px auto;
padding: 5px;
width: 295px;
height: 40px;
border-radius: 10px;
font-size: 100%;
font-family: Helvetica, sans-serif;
font-weight: bold;
border: 1px solid var(--gray);
}

.button:hover {
background-color: rgb(150, 203, 255);
color: white;
}