.footer{
    color: black;
    display: flex;
    justify-content: center;
}

.links {
    align-items: center;
    margin-right:10px;
    font-family:Helvetica, sans-serif;
    font-size: 80%;
    color: var(--gray);
}

.myname {
    display: block;

}