:root {
  --blue: rgb(88, 169, 249);
--bg: white;
--color: linear-gradient(120deg, rgb(126, 14, 145), rgb(255, 56, 129), rgb(229, 74, 47), rgb(244, 206, 91));
--gray:  rgb(145, 145, 145);
--darkblue: rgb(28, 54, 126);
}