.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 20px;
  min-height: 20vh;
}
.bg {
  background: var(--bg);
}
.right {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
}
.box1 {
  border: 1px solid var(--gray);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  margin: 0 0 0 10px;
  padding: 30px ;
  align-items: center;

}
.logo {
  margin-bottom: 20px;


}
.p {
  font-family: Helvetica, sans-serif;
  font-size: 80%;
  color: var(--gray);
  margin: 10px;
}
.line {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.line1 {
margin-top: -15px;
color: var(--gray);
margin-right: 12px;
}
.line2 {
  margin-top: -15px;
  color: var(--gray);
  margin-left: 12px;
  }
  .facebook {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .facebookicon {
    margin-right: 10px;
    margin-top: 8px;
  }
.facebookp {
  font-family: Helvetica;
  color: rgb(28, 54, 126);
  font-size: 90%;
  font-weight: bold;
}
.facebookp:hover {
  color:  rgb(84, 122, 224);
}
.p2{
  font-family: Helvetica;
  color:var(--darkblue);
  font-size: 70%;
  text-align: center;
}
.box2 {
  border: 1px solid gray;
  padding: 15px;
  margin: 20px 0px 20px 10px;
  font-family: Helvetica;
  display: flex;
  flex-direction: row;
  justify-content: center;
 
  
}
.text2 {
margin-left: 9px;
color:var(--darkblue);
font-weight: bold;
}
.text1 {
  color: var(--gray);
  font-family: helvetica;
  text-align: center;
}

.app{
  margin-top: 10px;
  margin-left: 35px;
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.generalcontainer {
  display: flex;
  flex-direction: row;

  
}
.phone{
  margin-right: 50px;
}